@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
	font-family: 'Poppins', sans-serif;
}

#bootstrap-overrides nav .navbar .navbar-default {
	background-color: inherit;
}

a.navbar-brand img {
	width: 35px;
	height: 40px;
}
#bootstrap-overrides li a{
	background-color: inherit;
	border-radius: 3px;
	color: #FFC952;
	outline: none;
	text-decoration: none;
}

